<% was_validated = trip.errors.any? %>

<%= form_with(model: trip, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for city start -->
  <div class="form-group">
    <% city_class = "form-control" %>
    <% city_was_invalid = trip.errors.include?(:city) %>

    <% if was_validated %>
      <% if city_was_invalid %>
        <% city_class << " is-invalid" %>
      <% else %>
        <% city_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :city %>
    <!-- Input for city start -->
    <%= f.text_field :city, class: city_class, placeholder: "Enter city" %>
    <!-- Input for city end -->
    <% if city_was_invalid %>
      <% trip.errors.full_messages_for(:city).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for city end -->
  <!-- Label and input for country start -->
  <div class="form-group">
    <% country_class = "form-control" %>
    <% country_was_invalid = trip.errors.include?(:country) %>

    <% if was_validated %>
      <% if country_was_invalid %>
        <% country_class << " is-invalid" %>
      <% else %>
        <% country_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :country %>
    <!-- Input for country start -->
    <%= f.text_field :country, class: country_class, placeholder: "Enter country" %>
    <!-- Input for country end -->
    <% if country_was_invalid %>
      <% trip.errors.full_messages_for(:country).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for country end -->
  <!-- Label and input for trip_name start -->
  <div class="form-group">
    <% trip_name_class = "form-control" %>
    <% trip_name_was_invalid = trip.errors.include?(:trip_name) %>

    <% if was_validated %>
      <% if trip_name_was_invalid %>
        <% trip_name_class << " is-invalid" %>
      <% else %>
        <% trip_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :trip_name %>
    <!-- Input for trip_name start -->
    <%= f.text_field :trip_name, class: trip_name_class, placeholder: "Enter trip name" %>
    <!-- Input for trip_name end -->
    <% if trip_name_was_invalid %>
      <% trip.errors.full_messages_for(:trip_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for trip_name end -->
  <!-- Label and input for trip_image start -->
  <div class="form-group">
    <% trip_image_class = "form-control" %>
    <% trip_image_was_invalid = trip.errors.include?(:trip_image) %>

    <% if was_validated %>
      <% if trip_image_was_invalid %>
        <% trip_image_class << " is-invalid" %>
      <% else %>
        <% trip_image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :trip_image %>
    <!-- Input for trip_image start -->
    <%= f.text_field :trip_image, class: trip_image_class, placeholder: "Enter trip image" %>
    <!-- Input for trip_image end -->
    <% if trip_image_was_invalid %>
      <% trip.errors.full_messages_for(:trip_image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for trip_image end -->
  <!-- Label and input for arrival_date start -->
  <div class="form-group">
    <% arrival_date_class = "form-control" %>
    <% arrival_date_was_invalid = trip.errors.include?(:arrival_date) %>

    <% if was_validated %>
      <% if arrival_date_was_invalid %>
        <% arrival_date_class << " is-invalid" %>
      <% else %>
        <% arrival_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :arrival_date %>
    <!-- Input for arrival_date start -->
    <%= f.date_select :arrival_date, class: arrival_date_class, placeholder: "Enter arrival date" %>
    <!-- Input for arrival_date end -->
    <% if arrival_date_was_invalid %>
      <% trip.errors.full_messages_for(:arrival_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for arrival_date end -->
  <!-- Label and input for departure_date start -->
  <div class="form-group">
    <% departure_date_class = "form-control" %>
    <% departure_date_was_invalid = trip.errors.include?(:departure_date) %>

    <% if was_validated %>
      <% if departure_date_was_invalid %>
        <% departure_date_class << " is-invalid" %>
      <% else %>
        <% departure_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :departure_date %>
    <!-- Input for departure_date start -->
    <%= f.date_select :departure_date, class: departure_date_class, placeholder: "Enter departure date" %>
    <!-- Input for departure_date end -->
    <% if departure_date_was_invalid %>
      <% trip.errors.full_messages_for(:departure_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for departure_date end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
