<%= form_with(model: @sight, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :datetime %>

    <%= f.date_select :datetime, class: "form-control" %>
  </div>

  <%= f.hidden_field :trip_id, value: @trip.id %>

  <%= f.submit "Create sight", class: "btn btn-block btn-outline-secondary" %>
<% end %>
