<%= form_with(model: @trip_photo, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :image %>

    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :trip_id %>

    <%= f.collection_select :trip_id, Trip.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :uploading_user_id, value: @user.id %>

  <%= f.submit "Create trip photo", class: "btn btn-block btn-outline-secondary" %>
<% end %>
