<div class="card mb-3">
  <h2 class="card-header h4">
    Traveler #<%= traveler.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <!-- Display user_id start -->
      <dd><%= traveler.user_id %></dd>
      <!-- Display user_id end -->

      <dt>Trip</dt>
      <!-- Display trip_id start -->
      <dd><%= traveler.trip_id %></dd>
      <!-- Display trip_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back traveler, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link traveler start -->
      <div class="col">
        <%= link_to edit_traveler_url(traveler), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link traveler end -->

      <!-- Delete link traveler start -->
      <div class="col">
        <%= link_to traveler, method: :delete, data: { confirm: "Do you really want to delete this traveler?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link traveler end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(traveler.updated_at) %> ago
  </div>
</div>
