<% was_validated = traveler.errors.any? %>

<%= form_with(model: traveler, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = traveler.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% traveler.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for trip_id start -->
  <div class="form-group">
    <% trip_class = "form-control" %>
    <% trip_was_invalid = traveler.errors.include?(:trip) %>

    <% if was_validated %>
      <% if trip_was_invalid %>
        <% trip_class << " is-invalid" %>
      <% else %>
        <% trip_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :trip_id %>
    <!-- Input for trip_id start -->
    <%= f.collection_select :trip_id, Trip.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for trip_id end -->
    <% if trip_was_invalid %>
      <% traveler.errors.full_messages_for(:trip).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for trip_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
