<% was_validated = restaurant.errors.any? %>

<%= form_with(model: restaurant, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = restaurant.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% restaurant.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% trip_class = "form-control" %>
    <% trip_was_invalid = restaurant.errors.include?(:trip) %>

    <% if was_validated %>
      <% if trip_was_invalid %>
        <% trip_class << " is-invalid" %>
      <% else %>
        <% trip_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :trip_id %>
    <%= f.collection_select :trip_id, Trip.all, :id, :to_s, {}, class: "form-control" %>
    <% if trip_was_invalid %>
      <% restaurant.errors.full_messages_for(:trip).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% datetime_class = "form-control" %>
    <% datetime_was_invalid = restaurant.errors.include?(:datetime) %>

    <% if was_validated %>
      <% if datetime_was_invalid %>
        <% datetime_class << " is-invalid" %>
      <% else %>
        <% datetime_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :datetime %>
    <%= f.datetime_select :datetime, class: datetime_class, placeholder: "Enter datetime" %>
    <% if datetime_was_invalid %>
      <% restaurant.errors.full_messages_for(:datetime).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
